<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do List</title>
      </head>
<body>
    <main>
        <div>
            <h1>{{todolist.name}}</h1>
            <p> <a href="{% url 'update_todolist' todolist.id%}">Edit</a></p>
            <p><a href="{% url 'delete_todolist' todolist.id%}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Due Date</th>
                </thead>
                <tbody>
                    {%for item in todolist.items.all%}
                    <tr>
                        <td><a href="{% url 'update_todoitem' item.id%}">{{item.task}}</a></td>
                        <td>{{item.due_date}}</item></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>