<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do List</title>
      </head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="{% url 'create_todolist'%}">Create a List</a></p>
            <p><a href="{% url 'create_todoitem'%}">Create a Item</a></p>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of Items</th>
                </thead>
                <tbody>
                    {% for list in todolist_list %}
                    <tr>
                        <td><a href="{%url 'show_todolist' list.pk %}">{{list.name}}</td>
                        <td>{{list.items.all|length}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>